//Variables
$primary-color: #3A66AD;
$secondary-color: #13315C;
$tertiary-color: #4D86E2;
$quaternary-color: #427bd6;
$quintary-color: #c4d3df;
$senary-color: #717f8a;

$font: "Helvetica";

/* -------- General styles ---------- */

.button {
    -fx-font: 13.0px $font;
    -fx-text-fill: white;
    -fx-background-color:$primary-color;
    -fx-faint-focus-color : black;
    -fx-background-radius:0.0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3) , 5, 0.0 , 0 , 1 );
}

.button:hover {
	-fx-background-color:$tertiary-color;
	-fx-text-fill:white;
}

.login-button {
  @extend .button;
  -fx-background-color: white;
  -fx-text-fill: black;
}

.button:active {
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0) , 5, 0.0 , 0 , 1 )
}

#btnLogout {
    -fx-background-color:
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
        linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
 }
 #btnLogout:hover {
   -fx-background-color: $tertiary-color;
 }

.label {
    -fx-font-background-color: black;
}


#rootPane{
    -fx-background-color: $primary-color;
}

#selection-bar {
  -fx-background-color: $quintary-color;
}

.list-cell:odd {
    -fx-background-color: #edeff0;
}

.list-cell:odd:selected, .list-cell:even:selected {
  -fx-background-color: $senary-color;
  -fx-background-insets: 0.0;
  -fx-background-radius: 1.0;
}

.combo-box-popup .list-view .list-cell:filled:hover  {
    @extend .list-cell:odd:selected;
}

.rectangle {
  -fx-stroke-width: 1;
}

#ticket-header {
  -fx-background-color: $primary-color;
}

/*---------- Tables ------------*/



/* Column-header-background -> column-header */

.table-view .filler {
   -fx-background-color: transparent;
}

.table-view {
   -fx-background-color: transparent;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: $primary-color;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .table-cell{
    -fx-text-fill: black;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #EDEFF1;
}

.table-row-cell:selected {
    -fx-background-color: $quintary-color;
    -fx-background-insets: 0.0;
    -fx-background-radius: 1.0;
    -fx-text-fill: black;
}

.table-view .filler {
  -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .arrow {
    -fx-background-color: white;
}

/*---------- Employee Views -----------*/

.data0.chart-pie { -fx-pie-color: #ACCBE1; }
.data1.chart-pie { -fx-pie-color: #CEE5F2; }



/*---------- Customer Views -----------*/

#anchorProgramme:hover, #anchorProfile:hover{
    -fx-background-color:$primary-color;
    -fx-text-fill: black;
}

.priceseparator {
-fx-border-color: black;
}
